.my-app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  min-height: 10vh;
}

.header-logo {
  height: 10vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.row {
  padding: 0.4em 1em;
}

.flex {
  display: flex;
  align-items: center;
}

.mt-1 {
  margin-top: 1em;
}

.timer-input {
  margin-left: 0.75em;
  margin-right: 0.2em;
  width: 80px;
}

.item-label {
  margin-right: 0.25em;
}

.btn-reset {
  padding: 0.3em 0.6em;
}